<!DOCTYPE html>
<html ng-app="app">
    <head>

<!--
        LaunchCode Mentorship Program

        Title: Front - End Web Development Project

        Description: A front end web project that demonstrates all of the skills that I have learned to date.


        Core Objectives Checklist:
          -Web page(s) in HTML and CSS
          -Required: HTML and CSS
          -A great user interface (UI) with responsive design
          -Required: CSS
          -Optional: Bootstrap
          -Added functionality (3-5 features) with Javascript
          -Required: JavaScript
          -Optional: JQuery and/or AJAX)
          -User Experience (UX) enhancement a front-end framework
          -Required: React.js, Ember.js, or Angular.js

        Project Examples:

          -Ecommerce site: display products and enable purchase
          -Feature 1: user management (registration, login, etc.)
          -Feature 2: gallery of items (view and select items)
          -Feature 3: shopping cart (save items for later)
          -Feature 4: checkout (purchase saved items)
          -Feature 5: payment API


     Author: Jaroslaw Sliz

     Resources and credits: Angularjs.org, Josh Neustrom, Codeschool.com, Tutorial Points, Stackoverflow.com, Angular-Payments, Github.com/snapjay/ngcart, Udemy.com, Casey Justin

     Date: October 2016

-->


        <meta charset="utf-8" />
        <title>Amazon 2016 bestsellers</title>

        <meta charset="utf-8">
        <meta name="title" content="Amazon 2016 bestsellers">
        <meta name="description" content="Discover the best in Amazon Best Sellers. Find the top 3 most popular items in Amazon Best Sellers.">
        <meta name="author" content="Jaroslaw Sliz - @jareksliz">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="books/css/style.css" rel="stylesheet" />

    </head>


    <body>

        <header>

            <!-- Bootstrap header  -->
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="#/">Home</a>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#/myaccount"ng-click="login()" ng-show="userAccount">My account</a></li>
                        <li><a href="#/login" ng-click="login()" ng-hide="userLogin">Login/Register</a></li>
                        <li>
                        <a href="#/cart"><books-summary></books-summary></a>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>


            <!-- Route service with all products in BookStore -->
            <div class="container" ng-controller="StoreController">

                <div ng-view></div>

            </div>

        <!-- Resorces -->
        <script src="books/app-services/jquery-3.1.1.min.js"></script>
        <script src="books/app-services/bootstrap.min.js"></script>

        <script src="//code.angularjs.org/1.5.8/angular.min.js"></script>
        <script src="//code.angularjs.org/1.5.8/angular-route.min.js"></script>
        <script src="//code.angularjs.org/1.5.8/angular-cookies.min.js"></script>

        <script src="books/js/app.js"></script>
        <script src="books/app-services/authentication.service.js"></script>
        <script src="books/app-services/flash.service.js"></script>

        <!-- User service for demo that uses local storage -->
        <script src="books/app-services/user.service.local-storage.js"></script>

        <!-- Login and Register services -->
        <script src="books/user-services/home.controller.js"></script>
        <script src="books/user-services/login.controller.js"></script>
        <script src="books/user-services/register.controller.js"></script>

        <!-- Scripts -->
        <script src="books/js/products.js"></script>
        <script src="books/js/routes.js"></script>
        <script src="books/js/cart-service.js"></script>
        <script src="books/js/books.directives.js"></script>
        <script src="books/js/checkout.js"></script>


    </body>
</html>
