
h1 {
    
font-family: 'Oswald', sans-serif;
text-align: center;    


}


.store-books {
  float:left;

}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}


.ng-valid.ng-dirty {
  border-color: #78FA89;
}s
