<h1>Amazon 2016 bestsellers</h1>
<hr>




<div class="container">
    
    <div class="row">
        
      <!--  Product Container  -->
      <div class="col-sm-4" ng-repeat="product in products">
          <div ng-click="showDesc(product)">
                <!-- Image Gallery  -->
              <product-gallery></product-gallery>
          </div>

      </div>
    </div>
    
</div>
    
  

  <div class="row">
        <div ng-repeat="product in chosenBook track by product.id" ng-animate="'animate'">
                <product-title></product-title>

                <product-panel></product-panel>

                <h2>{{product.price | currency}}</h2>



                <div>    
                    <button type="button" class="btn btn-outline-primary" ng-click="addItem(product)">Add to Cart</button>
            
                </div>

        </div>
            

        
    </div>


