<h1>Amazon 2016 bestsellers</h1>
<hr>



<div class="container">
    
    <div class="row">
        
      <!--  Product Container  -->
      <div class="col-sm-4" ng-repeat="product in products">
          <div ng-click="showDesc(product)">
                <!-- Image Gallery  -->
              <product-gallery></product-gallery>
          </div>
            <button type="button" class="btn btn-secondary more-details" ng-click="showDesc(product)">Check Details</button>
        </div>

      </div>
    
    

        
      <div class="container myTable">
      
          <div ng-repeat="item in myBook" ng-animate="'animate'">
                    <product-title></product-title>

                    <product-panel></product-panel>

                    <h2 class="my-price">{{item.price | currency}}</h2>



                    <div class="pull-right">   
                        
                        <books-addtocart id="{{ item.id }}"
                                   name="{{ item.name }}"
                                   price="{{ item.price  }}"
                                   data="item"
                                   quantity="1">
                            Add To Cart
                        </books-addtocart>

                    </div>

            </div>
      </div>  
</div>

        


