<h1>Amazon 2016 bestsellers</h1>
<hr>


<!--

    <div ng-controller='showDescription'> 
	   <div ng-show="show">
           Hi There
        </div>
        <button ng-click="onShow()">Click Me</button>        
    </div> 
      
      
      
      <div ng-controller="showMouse">
          <p ng-mouseover="hoverIn()">Here is 1</p>
          <p class="pull-right" ng-mouseover="hoverIn()">Here is 2</p>

            <p ng-show="hoverEdit" class="animate-show">    
                   Wow it works
            </p>


      </div>-->
      



<div class="container">
    
        <!--  Products Container  -->
    <div class="row">
        
      <!--  Product Container  -->
      <div class="col-sm-4" ng-repeat="product in store.products">
          <div ng-click="showDesc(product)">
                <!-- Image Gallery  -->
              <product-gallery></product-gallery>
          </div>

      </div>
    </div>
    
</div>
    
  

  <div class="list-group">
        <li ng-repeat="product in chosenBook track by product.id" ng-animate="'animate'">
            {{$index}}
                <product-title></product-title>

                <product-panel></product-panel>

                <h2>{{product.price | currency}}</h2>



                <div>    
                    <button type="button" class="btn btn-outline-primary" ng-click="addItem(product)">Add to Cart</button>
            
                </div>

        </li>
            

        
    </div>


